<ng-switch on="state">
    <div ng-switch-when="loading">
        <div class="loading"></div>
    </div>
    <div ng-switch-when="error" class="jumbotron">
        <div class="page-header">
            <h3>Network problem?</h3>
            Anyway, we cant load the feed.
        </div>
    </div>
    <div ng-switch-default>
        <div ng-if="posts.length === 0">
            <div class="jumbotron">
                <h3>Nothing published yet?</h3>
                <a class="btn btn-primary" href="#/search">I want to search for and add more feeds</a>
                <a class="btn btn-primary" href="#/trends">I want to add trending feeds</a>
            </div>
        </div>
        <div ng-if="posts.length > 0">
            <div class="page-header">
                <h3>The latest posts</h3>
            </div>
            <div class="rows-table">
                <div class="row table-row">
                    <div class="col-xs-12 col-sm-6 table-row-cell" ng-repeat="post in posts track by $index">
                        <div class="thumbnail">
                            <div ng-if="post.thumbnail">
                                <a href="#/post/{{post.url|encodeUrl}}" ng-click="pushPost(post)">
                                    <img src="{{post.thumbnail.url}}" alt="" />
                                </a>
                            </div>
                            <div class="caption">
                                <a href="#/post/{{post.url|encodeUrl}}" ng-click="pushPost(post)">
                                    <h3 ng-bind-html="post.title"></h3>
                                </a>
                                <p ng-bind-html="post.contentSnippet"></p>
                                <div class="panel panel-info">
                                    <div class="panel-body">
                                        <img src="{{post.feed.url|favicon}}" class="feedicon" hidebroken/>
                                        <small ng-show="post.publishedDate">{{post.publishedDate|howLongAgo}}</small>
                                        <small ng-show="post.author">by {{post.author}}</small>
                                        <small ng-show="post.link">at
                                            <a href="{{post.link|externalLink}}">{{post.feed.title}}</a>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-switch>
