<ng-switch on="state">
    <div ng-switch-when="loading">
        <div class="loading"></div>
    </div>
    <div ng-switch-when="error" class="jumbotron">
        <div class="page-header">
            <h3>Network problem?</h3>
            Anyway, we cant load the feed.
        </div>
    </div>
    <div ng-switch-default>
        <div class="panel panel-info">
            <p>
                <img src="{{url|favicon}}" hidebroken/>&nbsp;{{feed.description}}</p>
            <button class="btn btn-primary btn-xs" ng-show="!isSubscribed" ng-click="subscribe(true)">
                <span class="glyphicon glyphicon-plus">Subscribe</span>
            </button>
            <button class="btn btn-warning btn-xs" ng-show="isSubscribed" ng-click="subscribe(false)">
                <span class="glyphicon glyphicon-minus">Unsubscribe</span>
            </button>

        </div>

        <div ng-if="posts.length === 0">
            <div class="jumbotron">
                <h3>Nothing published yet?</h3>
                <a class="btn btn-primary" href="#/search">I want to search for and add more feeds</a>
                <a class="btn btn-primary" href="#/trends">I want to add trending feeds</a>
            </div>
        </div>
        <div ng-if="posts.length > 0">
            <div class="panel panel-primary" ng-repeat="post in posts track by $index">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="#/post/{{post.url|encodeUrl}}" ng-click="pushPost(post)">
                            <img src="{{post.feed.url|favicon}}" class="feedicon" hidebroken/>
                            <span ng-bind-html="post.title"></span>
                        </a>
                    </h3>
                </div>
                <div class="panel-body" ng-if="post.thumbnail.url">
                    <a href="#/post/{{post.url|encodeUrl}}" ng-click="pushPost(post)">
                        <img src="{{post.thumbnail.url}}" alt="" />
                    </a>
                </div>
                <div class="panel-body">
                    <p ng-bind-html="post.contentSnippet"></p>
                </div>
                <div class="panel-footer">
                    <small ng-show="post.publishedDate">{{post.publishedDate|howLongAgo}}</small>
                    <small ng-show="post.author">by {{post.author}}</small>
                    <small ng-show="post.link">at <a class="btn btn-link" href="{{post.link|externalLink}}"><i class="fa fa-external-link"></i> {{post.feed.title}}</a></small>
                </div>
            </div>
        </div>
    </div>
</ng-switch>
