<div class="page-header"></div>
<!--<div class="page-header">
    <a class="btn btn-link" href="{{post.link|externalLink}}">
        <h3>{{post.title|stripMarkup}}</h3>
    </a>
    <div class="label label-info">
        <small ng-show="post.publishedDate">{{post.publishedDate|howLongAgo}}</small>
        <small ng-show="post.author">by {{post.author}}</small>
    </div>
</div>-->
<div class="thumbnail">
    <a href="{{post.link|externalLink}}">
        <h3><i class="fa fa-external-link"></i> <span ng-bind-html="post.title"></span></h3>
    </a>
    <div class="panel panel-info">
        <div class="panel-body">
            <img src="{{post.feed.url|favicon}}" class="feedicon" hidebroken/>
            <small ng-show="post.publishedDate">{{post.publishedDate|howLongAgo}}</small>
            <small ng-show="post.author">by {{post.author}}</small>
            <small ng-show="post.link">at
                <a href="{{post.link|externalLink}}">{{post.feed.title}}</a>
            </small>
        </div>
    </div>
    <div ng-bind-html="post.content|mapLinksToExternalBrowser"></div>
</div>
