<div class="jumbotron">
    <h3>Thank you for using Fabula Reader</h3>
    <ul class="list-group">
        <li class="list-group-item"><a href="#/subscriptions" class="btn btn-link" state>Let me manage my subscriptions</a></li>
        <li class="list-group-item"><a href="#/trends" class="btn btn-link" state>Let me discover whats currently trending on google search</a></li>
        <li class="list-group-item"><a href="#/search" class="btn btn-link" state>Let me search for my own favourite feeds</a></li>
        <li class="list-group-item"><a href="#/allfeeds" class="btn btn-link" state>Show me all my news</a></li>
    </ul>
</div>
